* {
  box-sizing: border-box;
}

:root {
  --background: #324376;
  --backgroundDarker: #27345c;
  --main-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--main-color);
}

button, select {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Containers */

.auth_container,
.main_container,
.slider_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.auth_container {
  overflow: hidden;
}

.tile_container {
  width: calc(100% / 8 * 7);
  float: right;
}

.month_container {
  width: calc(100% / 8);
  float: left;
  writing-mode: vertical-lr;
  text-orientation: upright;
  display: flex;
}

.slider_container {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: all .2s;
  background-color: var(--background);
}

.slider_container.active {
  transform: translateX(0%);
}

.weekdays_container {
  position: sticky;
  top: -1px;
  background-color: var(--background);
  border-bottom: 1px solid var(--main-color);
}

/* Authorization */

.auth_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 1px 3px 20px 0px #2d2d2d;
  padding: 50px;
  animation-name: auth-slide;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.auth_form h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.auth_form input {
  width: 100%;
  font-size: 1.2rem;
  margin: 2px 0;
}

.auth_form button {
  width: 100%;
  font-size: 1.2rem;
  padding: 5px;
  margin-top: 25px;
  border: none;
  background-color: var(--main-color);
}

.background_sector {
  width: 100%;
  height: 100%;
  background-color: #586ba4;
  position: absolute;
  transform: skewX(-20deg);
  z-index: -1;
  top: 0;
  left: 50%;
  overflow: hidden;
}

@keyframes auth-slide {
  0% {
    top: 55%;
  }

  100% {
    top: 50%;
  }
}

/* Main */


.main_container .weekdays span {
  width: calc(100% / 8);
  text-align: center;
  padding: 10px;
  display: inline-block;
}

.tile_container .tile_row.even {
  background-color: var(--backgroundDarker);
}

.tile_container .tile_row {
  /* height: calc(100% / 7); */
}

.tile_container .tile {
  width: calc(100% / 7);
  display: inline-block;
  text-align: center;
  aspect-ratio: 1;
  box-shadow: inset 0 0 1px 0 white;
  cursor: pointer;
}

.tile_container .tile * {
  padding-top: 25%;
  font-size: 4vw;
}

.month_container .month {
  text-align: center;
  box-shadow: inset -1px 0px 0px 1px var(--main-color);
}

.month_container .month.even {
  background-color: var(--backgroundDarker);
}

/* Slider Content */

.item_container .water_button {
  height: 3rem;
  margin: 10px;
}